*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/kandawgyi.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.sidebar-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.sidebar-nav li
{
    display: inline-block;
}

.sidebar-nav li a
{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    padding: 10px 20px;
    font-size: 17.5px;
    opacity: 0.75;
}
/* 
.sidebar-nav li.active-link a
{
    border: 1px solid white;   
} */

.sidebar-nav li a:hover
{
    border: 1px solid white;   
}

.logo img
{
    width: 100px;
    height: auto;
    position:fixed;
    right: 0;
    bottom: 0;
    padding-bottom: 25px;
    padding-right: 30px;
    opacity: 0.85;
}

body
{
    font-family: monospace;
}

.row
{
    max-width: 1450px;
    margin: auto;
}

.maintext
{
    position: absolute;
    width: 1200px;
    margin-top: 0;
    margin-left: 0;
}

h1, h2
{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

h1
{
    font-size: 60px;
    text-align: center;
    margin-top: 237.5px;
}

.location
{
    font-size: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 35px 40px;
}